application/cache/*
application/config/*
application/core/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/*
application/logs/*
application/third_party/*
application/index.html
application/htaccess
CodeIgniter-3.0.1/*
static/*
system/*
user_guide/*
composer.json
contributing.md
hello-world.php
index.php
php.ini
readme.rst